* {
    margin: 0;
    font-family: 'Alkatra';
}

input {
    padding: 10px;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    user-select: none;
}

header {
    position: sticky;
    top: 0;
    padding: 10px 20px;
    background-color: black;
    color: white;
    z-index: 1;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    margin-bottom: 10px;
}

header input {
    background-color: white;
    border: none;
    margin-bottom: 10px;
}

header .cart {
    padding: 5px 10px;
    border: 1px solid;
    width: fit-content;
    color: black;
    background-color: white;
    height: fit-content;
}


header span {
    font-weight: 900;
}

header .view-cart:active {
    box-shadow: 5px 5px 0 white;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

header .sub-menu {
    display: flex;
    justify-content: space-between;
}

header .cart-info {
    display: flex;
    gap: 10px;
}

header .view-cart {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    align-self: center;
    box-shadow: 5px 5px 0 grey;
    transition: 0.1s;
    cursor: pointer;
}

header .hide-cart {
    display: none;
}

header .clear-cart {
    padding: 10px;
    background-color: darkred;
    color: white;
    border: none;
    align-self: center;
    box-shadow: 5px 5px 0 grey;
    transition: 0.1s;
}

header .clear-cart:active {
    box-shadow: 5px 5px 0 red;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.search-result-box {
    padding: 20px;
    display: none;
}

.search-result-box .search-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    padding: 10px 20px;
}

.category>h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.category>button {
    font-size: 2em;
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 20px;
}

.product-card {
    display: flex;
    gap: 20px;
    position: relative;
    padding: 10px;
    box-shadow: 0 0 10px grey;
    height: fit-content;
    min-width: 500px;
    max-width: 500px;
    min-height: 220px;
    max-height: 220px;
    margin: 20px;
}

.product-card>.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card img {
    align-self: center;
}

.product-card button {
    background-color: black;
    color: white;
    padding: 10px;
}

.product-card button:active {
    background-color: white;
    color: black;
    padding: 10px;
}

.card-display {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
}

.card-display::-webkit-scrollbar {
    display: none;
}

footer {
    background-color: black;
    color: white;
    padding: 40px;
}

.invoice {
    z-index: 1;
    position: fixed;
    top: 0;
    width: calc(100% - 60px);
    background-color: white;
    height: calc(100% - 60px);
    overflow: auto;
    transition: all 0.5s;
    box-shadow: 0 0 5px grey;
    transform: translateX(-150%);
    padding: 30px;
}

.invoice table {
    border-collapse: collapse;
    width: fit-content;
    margin: 20px auto;
}

.invoice td,
.invoice th {
    padding: 10px;
}


.invoice tbody td,
.invoice thead th,
.invoice tfoot th {
    border: 1px dashed;
}

.invoice .check-out-btn {
    padding: 10px;
    color: white;
    border: none;
    background-color: black;
    transition: all 0.1;
    width: fit-content;
}

.invoice .invoice-btn-container {
    display: flex;
    justify-content: center;
}


.invoice .check-out-btn:active {
    color: black;
    background-color: white;
}

.invoice .add {
    font-size: 2em;
    border: none;
    background-color: black;
    color: white;
    padding: 0 20px;
}

.invoice .add:active {
    background-color: white;
    color: black;
}

.invoice .minus {
    font-size: 2em;
    border: none;
    background-color: darkred;
    color: white;
    padding: 0 20px;
}

.invoice .minus:active {
    background-color: white;
    color: black;
}

.invoice .remove-product {
    font-size: 2em;
    border: none;
    background-color: darkred;
    color: white;
    padding: 0 20px;
}

.invoice .remove-product:active {
    background-color: white;
    color: black;
}

.invoice .header {
    margin-bottom: 20px;
}

.invoice .hide-cart-btn {
    margin-left: 10px;
}

.invoice .invoice-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


footer {
    font-weight: 900;
}

footer a {
    color: inherit;
}

@media (max-width: 430px) {
    header input {
        font-size: 20px;
    }

    .category {
        padding: 10px;
    }

    .category .card-display {
        display: flex;
        flex-wrap: wrap;
    }

    .category>button {
        display: none;
    }

    .product-card {
        display: flex;
        flex-direction: column-reverse;
        min-width: 300px;
        max-width: 300px;
        min-height: 420px;
        max-height: 420px;
    }
}